footer{
	background-color: black;
	font-family: arial;
	width: 100%;
	height: 60vh;
}
.top{
	display: flex;
	justify-content: space-between;
	padding: 20px;
}
.logo_name{
	color: #F0EFEF;
	font-size: 40px;
	padding-left: 20px;
}
.media-icons{
	display: flex;
}
.media-icon{
	height: 30px;
	width: 30px;
	margin: 5px;
}
.link-boxes{
	display: flex;
	justify-content: space-around;
	margin: 30px 30px;
}
h3{
	color: #F0EFEF;
	text-decoration: underline;
	text-underline-offset: 5px;
}
.col1, .col2, .col3, .col4{
	display: grid;
	grid-row-gap: 5px;
}
a{
	color: #CECECE;
	font-size: 13px;
	text-decoration: none;
}
.bottom-details{
	background-color: #4F4E4E;
	margin-top: 63px;
	display: flex;
	justify-content: space-between;
	padding: 0px 30px;
	font-size:15px;
}
.bottom-left{
	color: #F0EFEF;
}
.bottom-right{
	color: #CECECE;
}